*{
    padding: 0px;
    margin: 0px;
}
header{
    background-color: green;
    height: 80px;
    padding: 20px;
}
header p{
    font-family: 'Satisfy',sans-serif;
}
.me{
    background-color: orangered;
    height: 300px;
    padding: 20px;
    width: 60%;
}
