*{
    padding: 0px;
    margin: 0px;
    background-color: rgba(122, 79, 48, 0.822);;
}
header{
    height: 200px;
}
header h1{
    text-align: center;
    padding-top: 100px;
}
.con{
    height: 300px;
    display: flex;
    margin-top: 20px;
    text-align: center;
}
.con h2{
    padding-top: 30px;
}
.address{
    width: 33.33%;
    padding: 20px;

}
.phone{
    width: 33.33%;
    padding: 20px;

}
.email{
    width: 33.33%;
    padding: 10px;
}
.media{
    text-align: center;
    padding: 0px;
}
.media i{
    padding: 30px;
}